@viewport {
  width: device-width ;
  zoom: 1.0 ;
} 


body {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 background-color: #eee;

}
    


#app {
    
    width: 50em;
    margin: 0;
    
    
    padding: 5em;
    text-align: center;
    
}

img {
    
    width: 25em;
    border: 3px solid white;
    box-shadow: 2px 2px 0.5 #111;
    border-radius: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cont {
    background-color:#fff;
    padding: 2em;
    margin: 2em;
    border: none;
    border-radius: 1em;
    box-shadow: 0em 0.1em 0.5em 0.1em #999;
}
