 /* code that is here, until the first @media block, will apply to any screen size */
#app {
  width: 800px ;
}

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  #app {
    width: 120px ;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  #app {
    width: 320px ;
  }
}
@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  #app {
    width: 480px ;
  }
}

/* code that is here will apply to any screen size */ 
    

body{margin: 0}

#app {
    width: 50%;
    margin: 0;
    background-color: #eee;
    
    padding: 5em;
    text-align: center;
    
}

img {
    
    width: 25em;
    border: 3px solid white;
    box-shadow: 2px 2px 0.5 #111;
    border-radius: 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cont {
    background-color:#fff;
    padding: 2em;
    margin: 2em;
    border: none;
    border-radius: 1em;
    box-shadow: 0em 0.1em 0.5em 0.1em #999;
}
